<% myData = JSON_parse.new %>
<ul>
<% myData.json_obj["data"].each do |dataset| %>
	<li>
		<strong>Name:</strong><%= dataset[8] %></br>
		<strong>Address:</strong><%= dataset[9] %></br>

	</li>
<% end %>
</ul>